<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="YesilEv" connectionString="data source=DESKTOP-A6E9IGN\SQLEXPRESS;initial catalog=YesilEv;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>